{% extends "mantenimientos/base.html" %}
{% block body %}

<div class="container">
    <right>
        <a href="{% url 'lista_clientes' %}">
            <button type=button class="btn btn-outline-dark btn-sm" style="margin:20px">Regresar a la lista de clientes</button>
        </a>
    </right>
    <div style="text-align: center;">
        <h1> Cotizaciones {{ cliente }} </h1>
    </div>
    <div class="container p-3">
        <div class="container">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Nombre del Encargado: </th>
                        <td>{{ cliente.encargado }}</td>
                    </tr>
                    <tr>
                        <th>Puesto: </th>
                        <td>{{ cliente.puesto_encargado }}</td>
                    </tr>
                    <tr>
                        <th> Numero de Contacto: </th>
                        <td>{{ cliente.numero_contacto }}</td>
                    </tr>
                    <tr>
                        <th>Correo de contacto: </th>
                        <td>{{ cliente.correo_contacto }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="container p-3">
            <center>
                <a href="{% url 'modificar_cliente' cliente.id %}">
                    <button type="button" class="btn btn-outline-success" style="margin:10px">Modificar detalles</button>
                </a>
                <a href="{% url 'eliminar_cliente' cliente.id %}">
                    <button type="button" class="btn btn-outline-danger" style="margin:10px">Eliminar cliente</button>
                </a>
            </center>
        </div>

        <div class="container">
            <!-- ---------------------- Cotizacion Deteccion de Fuegos --------------------------------------- -->
            <div>
                <h3> Cotizaciones Deteccion de Fuegos </h3>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                {% for cotizacion in cotizaciones %}
                {# Single Card Template:#}
                <div class="card" style="width: 18rem; margin: 10px">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row">
                            <a class="stretched-link" href="{% url 'detalle_cotizacion' cotizacion.cliente.id cotizacion.id %}">
                                <h5 class="card-title"></h5>
                                    {{ cotizacion.titulo }}
                                </h5>
                                </a>
                        </div>
                        <p class="card-text">{{ cotizacion.fecha }}</p>
                        <a href="{% url 'modificar_cotizacion' cotizacion.id %}" class="btn btn-outline-secondary btn-sm"> Editar </a>
                        <a href="{% url 'eliminar_cotizacion' cotizacion.cliente.id cotizacion.id %}" class="btn btn-outline-danger btn-sm"> Eliminar </a>
                    </div>
                </div>
                {% empty %}
                <div class="container-fluid" style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
                    <h4> No hay ninguna cotizacion </h4>
                </div>
                {% endfor %}
            </div>

            <!-- ---------------------- Cotizacion CCTV --------------------------------------- -->
            <div>
                <h3> Cotizaciones CCTV </h3>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                {% for cotizacion in cotizaciones_cctv %}
                {# Single Card Template:#}
                <div class="card" style="width: 18rem; margin: 10px">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row">
                            <a class="stretched-link" href="{% url 'detalle_cotizacion_cctv' cotizacion.cliente.id cotizacion.id %}">
                                <h5 class="card-title"></h5>
                                    {{ cotizacion.titulo }}
                                </h5>
                                </a>
                        </div>
                        <p class="card-text">{{ cotizacion.fecha }}</p>
                        <a href="{% url 'modificar_cotizacion_cctv' cotizacion.id %}" class="btn btn-outline-secondary btn-sm"> Editar </a>
                        <a href="{% url 'eliminar_cotizacion_cctv' cotizacion.cliente.id cotizacion.id %}" class="btn btn-outline-danger btn-sm"> Eliminar </a>
                    </div>
                </div>
                {% empty %}
                <div class="container-fluid" style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
                    <h4> No hay ninguna cotizacion </h4>
                </div>
                {% endfor %}
            </div>

            <!-- ---------------------- Cotizacion CA --------------------------------------- -->
            <div>
                <h3> Cotizaciones Control de Acceso </h3>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                {% for cotizacion in cotizaciones_ca %}
                {# Single Card Template:#}
                <div class="card" style="width: 18rem; margin: 10px">
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row">
                            
                            <a class="stretched-link" href="{% url 'detalle_cotizacion_ca' cotizacion.cliente.id cotizacion.id %}">
                            <h5 class="card-title"></h5>
                                {{ cotizacion.titulo }}
                            </h5>
                            </a>
                            
                        </div>
                        <p class="card-text">{{ cotizacion.fecha }}</p>
                        <a href="{% url 'modificar_cotizacion_ca' cotizacion.id %}" class="btn btn-outline-secondary btn-sm"> Editar </a>
                        <a href="{% url 'eliminar_cotizacion_ca' cotizacion.cliente.id cotizacion.id %}" class="btn btn-outline-danger btn-sm"> Eliminar </a>
                    </div>
                </div>
                {% empty %}
                <div class="container-fluid" style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
                    <h4> No hay ninguna cotizacion </h4>
                </div>
                {% endfor %}
            </div>
            <div class="container" style="padding: 15px;">
                <center>
                    <h3> Agregar Cotizacion </h3>
                    <a href="{% url 'agregar_cotizacion' cliente.id %}">
                        <button type="button" class="btn btn-primary" style="margin: 5px;"> Deteccion de Fuegos </button>
                    </a>
                    <a href="{% url 'agregar_cotizacion_cctv' cliente.id %}">
                        <button type="button" class="btn btn-primary" style="margin: 5px;"> CCTV </button>
                    </a>
                    <a href="{% url 'agregar_cotizacion_ca' cliente.id %}">
                        <button type="button" class="btn btn-primary" style="margin: 5px;"> Control de Acceso </button>
                    </a>
                </center>
            </div>
        </div>
    </div>
</div>
<br>



{% endblock %}