
{% extends "mantenimientos/base.html" %}
{% block body %}

<div class="container-fluid" style="margin: 50px;">
        <div class="container-fluid">
                <h1> Servicios de Mantenimiento {{cliente}}</h1>
        </div>
        <div class="container">
                <div class="row">
                <div class="col-5">

                        <ul>Nombre del encargado: </ul>

                        <ul>Puesto: </ul>
                        
                        <ul>Numero de contacto: </ul>
                        
                        <ul>Correo de contacto: </ul>

                        <ul>Lugar donde se realiza el mantenimiento: </ul>

                        <ul>Descripcion del mantenimiento: </ul>

                        <ul>Fecha programada: </ul>

                        <ul>Dispositivos:</ul>
                        {% for dispositivo in cliente.dispositivo.all %}

                        {% endfor %}
                                <br></br>

                </div>
                <div class="col-5">

                        <ul>{{ cliente.encargado }}</ul>

                        <ul>{{ cliente.puesto_encargado }}</ul>
                        
                        <ul>{{ cliente.numero_contacto }}</ul>
                        
                        <ul>{{ cliente.correo_contacto }}</ul>

                        <ul>{{ cliente.lugar_de_mantenimiento }}</ul>
                        
                        <ul>{{ cliente.descripcion_cotizacion }}</ul>

                        <ul>{{ cliente.fecha }}</ul>

                        <br> </br>
                </div>
                <div class="col">

                </div>
                <div>
                <center>
                        <a href="{% url 'modificar_cliente' cliente.id %}">
                                <button type="button" class="btn btn-outline-success" style="margin:10px">Modificar detalles</button>
                        </a>
                        <a href="{% url 'eliminar_cliente' cliente.id %}">
                                <button type="button" class="btn btn-outline-danger" style="margin:10px">Eliminar cliente</button>
                        </a>
                </center>
                </div>
        </div>
        <div class="container-fluid" style="margin-top: 20px;">
                <div class="row">
                        {% for cotizacion in cotizaciones %}
                        <div class="card" style="width: 350px; height: 200px; padding: 20px; margin: 50px; box-shadow: 2px 3px 5px;">
                                <div class="container-fluid" style="margin: 10px; margin-bottom: 15px;">
                                        <h4>
                                                <a href="{% url 'detalle_cotizacion' cotizacion.cliente.id cotizacion.id %}">
                                                        {{ cotizacion.titulo }}
                                                </a>
                                        </h4>
                                        <div>
                                                <a href="{% url 'modificar_cotizacion' cotizacion.id %}">
                                                        <button type="button" class="btn btn-outline-secondary btn-sm">Modificar</button>
                                                </a>
                                                <a href="{% url 'eliminar_servicio' cotizacion.id%}">
                                                        <button type="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
                                                </a>
                                        </div>
                                </div>
                        </div>
                        {% endfor %}
                </div>

                <div>
                        <center>
                                <a href="{% url 'agregar_cotizacion' cliente.id %}">
                                        <button type=button class="btn btn-secondary" style="margin:5px">Agregar Servicio</button>
                                </a>
                        </center>
                </div>
        </div>

</div>


{% endblock %}