{% extends 'mantenimientos/base.html'%}
{% load static %}

{% block body %}

        <div class="row">
                <div class="col">
                </div>
                <div class="col card m-4" style="max-width: 45%;">
                        <div class="card-header" style="text-align: center;">
                                <h2> Modificar {{servicio}} </h2>
                        </div>
                        <div class="card-body">
                                <form action="" method="POST">
                                        {% csrf_token %}
                                        {% if servicio.titulonombre.pk == 16 %}
                                                {{ form.tiempoejecucion.errors }} 
                                                <div class="mb-3 mt-3">
                                                        {{ form.tiempoejecucion.errors }}
                                                        <label for="{{ form.tiempoejecucion.id_for_label }}"
                                                                class="form-label">Horas de servicio generales:</label>
                                                        {{ form.tiempoejecucion }}
                                                </div>
                                        </form>
                                </div>
        
                        </div>
                        <div class="col"></div>
                </div>
                
                                        {% else %}
                                        <div class="mb-3 mt-3">
                                                {{ form.periodisidadactividades.errors }}
                                                <label for="{{ form.periodisidadactividades.id_for_label }}"
                                                        class="form-label">Periodicidad Anual Regular:</label>
                                                {{ form.periodisidadactividades }}
                                        </div>
                                        <div class="mb-3">
                                                {{ form.cantidaddedispositivos.errors }}
                                                <label for="{{ form.cantidaddedispositivos.id_for_label }}"
                                                        class="form-label">Cantidad de Dispositivos:</label>
                                                {{ form.cantidaddedispositivos }}
                                        </div>

                                        <div class="form-check mb-3">
                                                <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" onclick="myFunction()">
                                                        Periodicidad o Dispositivos Adicionales
                                                </label>
                                        </div>

                                        <div class="mb-3" id="myDIV1" style="display:none">
                                                {{ form.periodisidadadicional.errors }}
                                                <label for="{{ form.periodisidadadicional.id_for_label }}" class="form-label">Periodicidad Adicional Anual
                                                        Regular:</label>
                                                {{ form.periodisidadadicional }}
                                        </div>
                                        <div class="mb-3" id="myDIV" style="display:none">
                                                {{ form.cantidaddispositivosextras.errors }}
                                                <label for="{{ form.cantidaddispositivosextras.id_for_label }}"
                                                        class="form-label">Cantidad de Dispositivos:</label>
                                                {{ form.cantidaddispositivosextras }}
                                        </div>

                                        <div class="mb-3">
                                                <button type="submit" class="btn btn-primary">Modificar</button>
                                        </div>
                                        
                                </form>
                        </div>

                </div>
                <div class="col"></div>
        </div>
        
        {% endif %}

        <!-- <center>
                <h1> Modificar {{servicio}} </h1>
                <br/>
                <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br/>
                        

                </form>
                <br/>
        </center> -->
<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        var y = document.getElementById("myDIV1");
        if (x.style.display === "block") {
            x.style.display = "none";
            y.style.display = "none";
        } else {
            x.style.display = "block";
            y.style.display = "block";
        }
    }
</script>
{% endblock %}