{% extends 'mantenimientos/base.html'%}
{% load static %}

{% block body %}
        <center>
        <h1>{{ cliente }}</h1>
        </center>
                <br/>
                <b>Nombre del encargado: </b>{{ cliente.encargado }}<br/>
                <b>Puesto: </b>{{ cliente.puesto_encargado }}<br/>
                <b>Numero de contacto: </b>{{ cliente.numero_contacto }}<br/>
                <b>Correo de contacto: </b>{{ cliente.correo_contacto }}<br/>
                <b>Lugar donde se realiza el mantenimiento: </b>{{ cliente.lugar_de_mantenimiento }}<br/>
                <b>Descripcion del mantenimiento: </b>{{ cliente.descripcion_cotizacion }}<br/>
                <b>Fecha programada: </b>{{ cliente.fecha }}<br/>
                <b>Dispositivos:</b><br/>
                {% for dispositivo in cliente.dispositivo.all %}
                        {{ dispositivo }}
                        <br>
                {% endfor %}
                <b>Mantenimientos:</b><br/>
                {% for mantenimiento in cliente.mantenimiento.all %}
                        {{ mantenimiento }}
                        <br>
                {% endfor %}
                <br/>
        <center>
                <a href="{% url 'modificar_cliente' cliente.id %}">
                        <button type="button" class="btn btn-outline-success" style="margin:10px">Modificar</button>
                </a>
                <a href="{% url 'eliminar_cliente' cliente.id %}">
                        <button type="button" class="btn btn-outline-danger" style="margin:10px">Eliminar</button>
                </a>
                <br>
                <a href="{% url 'cotizacion_pdf' cliente.id %}" download="cotizacion.pdf">
                        <button type="button" class="btn btn-primary" style="margin:10px">Descargar cotización</button>
                </a>
        </center>

                <br/>
{% endblock %}