{% extends 'mantenimientos/base.html'%}
{% load static %}

{% block body %}
    <center>
            <h1> Modificar {{cotizacion_cctv}} </h1>
            <br/>
            <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                    <input type="submit" value="Actualizar" class="btn btn-secondary">

            </form>
            <button id="close-btn">Close</button>
            <br/>
    </center>
{% endblock %}

<script>
  // Add JavaScript code to close the pop-up window when the close button is clicked.
  var closeBtn = document.getElementById("close-btn");
  closeBtn.addEventListener("click", function() {
    document.getElementById("popup").style.display = "none";
  });
</script>