{% extends "mantenimientos/base.html" %}
{% block body %}

<div >
    <div>
        <center>
            <h1> Cotizacion {{cotizacion.cliente}} </h1>
            <h2> {{cotizacion.titulo}} </h2>
        </center>
    </div>
    {% for servicio in cotizacion.mantenimientos.all %}
    <div class="card" style="width:300px">
        <h6> {{ servicio }} </h6>
    </div>
    {% endfor %}
    <div>
        <center>
        <a href="{% url 'crear_servicio' cotizacion.cliente.id cotizacion.id  %}">
            <button type=button class="btn btn-secondary" style="margin:5px">Agregar Servicio</button>
        </a>
        <a href="{% url 'cotizacion_pdf' cotizacion.id %}" download="cotizacion.pdf">
            <button type="button" class="btn btn-primary" style="margin:5px">Descargar cotización</button>
        </a>
        </center>
    </div>
</div>


{% endblock %}