{% extends "mantenimiento/base.html" %}
{% block body %}

<div >
    <div>
        <center>
            <h1> Cotizacion {{cliente}} </h1>
            <h2> {{titulo}} </h2>
        </center>
    </div>
    {% for servicio in servicios %}
    <div class="card" style="width:300px">
        <h4> {{ servicio }} </h4>
        <div>
            <a href="{% url 'crear_servicio' cliente.id %}">
                <button type=button class="btn btn-secondary" style="margin:5px">Agregar Servicio</button>
            </a>
            <a href="{% url 'cotizacion_pdf' cliente.id %}" download="cotizacion.pdf">
                <button type="button" class="btn btn-primary" style="margin:5px">Descargar cotización</button>
            </a>
        </div>


    </div>
    {% endfor %}
</div>


{% endblock %}