# Default ignored files
/shelf/
/workspace.xml
.pyc
.pycache
/innovativenet/innovativenet/RPA/__pycache__
/innovativenet/innovativenet/innovativenet/__pycache__
/innovativenet/innovativenet/RPA/migrations
db.sqlite3